body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}

.map-container {
    position: relative;
    width: 800px;
    margin: 40px auto;
}

.map-container img {
    width: 100%;
    display: block;
    border-radius: 18px;
}

.point {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 2px white;
}

.info-box {
    position: absolute;
    background: white;
    border-radius: 12px;
    padding: 10px 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
    width: 300px;
    opacity: 0;
    transform: translateY(20%);
    transition:
        opacity 0.25s ease,
        transform 0.25s ease;
    pointer-events: none;
    z-index: 10;
    font-size: 30px;
}

.info-box.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.info-box.hide {
    opacity: 0;
    transform: translateY(20%);
}

.info-box::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 20px;
    border-width: 10px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

.info-box b {
    display: block;
    margin-bottom: 4px;
    font-size: 20px;
}

.info-box des {
    display: block;
    margin-bottom: 4px;
    font-size: 10px;
}

.point-image {
    position: absolute;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
    opacity: 0;
    transform: translateY(15%);
    transition:
        opacity 0.25s ease,
        transform 0.25s ease;
    pointer-events: none;
    z-index: 9;
    border: 3px solid white;
}

.point-image.show {
    opacity: 1;
    transform: translateY(0);
}

.point-image.hide {
    opacity: 0;
    transform: translateY(15%);
}

.button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    cursor: pointer;
    font-size: 100%;
    z-index: 20;
}

.button:hover {
    background: rgba(0, 0, 0, 0.8);
}

.timeline-container {
    width: 600px;
    margin: 80px auto;
    display: flex;
    align-items: center;
    gap: 15px;
}

input[type="range"] {
    appearance: none;
    width: 100%;
    height: 3px;
    background: #000;
    border-radius: 2px;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    background: #000;
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 14px;
    height: 14px;
    background: #000;
    border-radius: 50%;
    cursor: pointer;
}

#year {
    font-size: 14px;
    min-width: 40px;
    font-weight: bold;
}